@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap');

@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  background: #09090b;
  color: white;
}

* {
  box-sizing: border-box;
}

::selection {
  background: #a3e635;
  color: #09090b;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #09090b;
}

::-webkit-scrollbar-thumb {
  background: #4d7c0f;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #a3e635;
}